{% extends 'main/layout.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
<div class="head">
    <div class="img" style="background-image: url('https://itproger.com/img/courses/1477042822.jpg');">
        <div class="overlay"></div>
        <div class="text-container">
            <h1 class="title">ПИН-КОД</h1>
            <p class="description">
                Наша миссия — предоставить передовые IT-услуги и продукты, которые помогают бизнесам достигать новых высот. В нашем арсенале — богатый опыт, передовые технологии и команда высококвалифицированных специалистов, готовых справиться с самыми сложными задачами.
                На нашем сайте вы найдете информацию о наших продуктах и услугах, узнаете о последних новостях и разработках компании, а также сможете связаться с нами для получения консультации.
                Мы стремимся к совершенству и постоянно развиваемся, чтобы соответствовать высоким стандартам отрасли и ожиданиям наших клиентов. Ваш успех — наша цель!
                Спасибо, что выбрали ООО "ПИН-КОД". Давайте вместе строить цифровое будущее!
            </p>
        </div>
    </div>
</div>
{% endblock %}